html,body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Cormorant", serif;
    background-color: #B59797;
}

.container {
    max-width: 1800px;
    margin: 20px auto;
}

.header {
    background-color: #B59797;
    height: 100vh;
    padding-top: 40px;
}

.header-line {
    padding: 10px 0 0 0;
    /*margin-left: -40px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #FBF6F6;
}

.nav-item {
    color: #3C2A2A;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin-right: 25px;
    
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #d81d1d; 
}

.header-down {
    background-color: #FBF6F6;
    padding: 60px 0 50px 40px;
    /*margin-left: -40px;
    margin-right: -60px;*/
    display: flex;
    justify-content: space-around;
}

.container-down {
    display: block;
}

.header-title {
    font-weight: 700;
    font-size: 18px;
}

.header-title, .header-history {
    margin-left: 40px;
}

.header-name {
    font-weight: 600;
    font-size: 80px;
    line-height: 96.88px;
    color: #3C2A2A;
}

.header-history p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #3C2A2A;
}


p.clients {
    display: inline-block;
}

.clients span {
    font-weight: 400;
    font-size: 50px; 
    margin-right: 35px;
}

.container_slider {
    display: block;
    margin-left: 15px;
    width: 560px;
    height: 671px;
    overflow:hidden;
    position:relative;
}

.photo_slider {
    position:absolute;
    animation:round 16s infinite;
    opacity:0;
    width:100%
}

@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){
    animation-delay:12s;
}
img:nth-child(2){
    animation-delay:8s;
}
img:nth-child(3){
    animation-delay:4s;
}
img:nth-child(4){
    animation-delay:0;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}

.button {
    color: #3C2A2A;
    font-weight: 700;
    font-size: 20px;
    
    transition: color 0.3s linear;
}

.button:hover {
    color: #c74c4c;
}

.footer {
    margin-top: 60px;
    background-color: #3C2A2A;
    padding: 30px 0 30px 0;
    width: 100%;
    text-align: center;
}

.footer-name {
    color: #FBF6F6;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 15px;
}

.messengers img{
    margin-right: 15px;
}


.burger-menu {
    display: none; /* Скрываем бургер меню по умолчанию */
}

ul#sub-menu { 
   display: none; 
} 



@media only all and (max-width: 58em) {
    
    .burger-menu {
        display: block;    
    }

    .nav {
        display: none; 
    }
    
    .header-line {
        justify-content: space-between;
    }
    
    .logo-sub-menu {
        cursor: pointer;
        padding-right: 40px;
    }
    
    ul#sub-menu { 
        width: 20%;
        margin-left: -140px;
        margin-top: 10px;
        background: #FBF6F6;
        list-style-type: none;
        font-size: 18px;
        position: absolute;
        border: solid #504949 1px;
        border-radius: 10px;
    } 
    
    ul#sub-menu a {
        color: #3C2A2A;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        line-height: 1.6;
        
        transition: color 0.3s linear;
    }
    
    ul#sub-menu a:hover {
        color: #d81d1d;
    }
    
    .header-down {
        display: flex;
        flex-direction: column;
    }
    
    .statistica {
        display: flex;
        justify-content: space-around;
    }
    
    .container_slider {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .buttons {
        flex-direction: column;
    }
    
    .buttons a {
        text-align: center;
        padding-bottom: 15px;
    }
}
